{% extends 'admin_master.html' %}
{% load static %}
{% block content %}
<div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">Add Teachers in EduNova</h3>
              <nav aria-label="breadcrumb">
                
              </nav>
            </div>
            <div class="row">
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Add Teacher </h4>
                    <p class="card-description">  </p>
                    <form class="forms-sample" method="post" action="/addteachers" enctype="multipart/form-data">
                      {% csrf_token %}
                       <div class="form-group">
                        <label for="exampleInputName1">Enter Teacher name</label>
                        <input type="text" class="form-control" id="exampleInputName1" name="name" placeholder="Name">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Enter phone number</label>
                        <input type="number" class="form-control" id="exampleInputName1" name="phone" placeholder="Phone Number">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Enter email</label>
                        <input type="email" class="form-control" id="exampleInputName1" name="email" placeholder="Email">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Enter password</label>
                        <input type="password" class="form-control" id="exampleInputName1" name="password" placeholder="Password">
                      </div>
                      
                      <div class="form-group">
                        <label for="exampleInputName1">Select image</label>
                        <input type="file" class="form-control" id="exampleInputName1" name="file" placeholder="image">
                      </div>
                    
                      <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                      
                    </form>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                      <div class="card">
                        <div class="card-body">
                          <h4 class="card-title">course Table</h4>
                        
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                
                                <th>name</th>
                                <th> phone no. </th>
                                  <th> email </th>
                                  
                                <th> photo</th>
                                  <th> Edit</th>
                                <th>Delete</th>
                                <th>assign course</th>
                              </tr>
                            </thead>
                              {% for i in teacher %}
                                <tr>
                                      <td>{{i.name}}</td>
                                      <td>{{i.phone}}</td>
                                      <td>{{i.email}}</td>
                                      
                                      <td><img src="media/{{i.file}}" alt="" width="100px" height="100px"></td>
                                      <td><a href="addteachers_edit/{{i.id}}">edit</a></td>
                                      <td><a href="addteachers_delete/{{i.id}}">Delete</a></td>
                                      <td><a href="course_assign/{{i.id}}">Assign</a></td>
                                  </tr>
                              {% endfor %}
                            
                            
                          </table>
                        </div>
                      </div>
                    </div>
              </div>
          </div>
              
{% endblock %}